.Header {
    width: auto;
    height: 65px;
    z-index: 1;
}

.Header-logo {
    position: absolute;
    z-index: 300;
    padding-top: 20px;
    padding-left: 15px;
    float: left;
}

.Header-btn {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Header-Link {
    color: linen;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    transition-property: color;
    transition-duration: 0.5s;
}

.Header-Link:visited {
    color: linen;
    text-decoration: none;
}

.Header-Link:hover {
    color: dodgerblue;
}

#Header-Menu {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#Header-Menu li {
    width: auto;
    font-size: 25px;
    padding: 10px 0 10px 0;
    text-align: right;
}

#Header-Btn-img {
    float: right;
    margin-bottom: 10px;
    opacity: 0.5;
}

